/*input[type=button], input[type=submit], input[type=reset] {
  background-color: #ff2222;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

input:hover {
  border: 3px #4d4848 solid;
  background-color: white;
  color: black;
}


input:disabled,
input[disabled]{
  cursor:not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.centrar{
    margin-top: auto;
    border-color: white;

    position: absolute;
    top: 55%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

body{
background-size: cover;
    background: no-repeat center fixed;
   background-size: cover;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  
}*/
  