<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>sisinf</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Listado de servlets -->
  <!-- Servlets Bizi -->
  <servlet>
    <display-name>Menú Bizi</display-name>
    <servlet-name>menuBizi</servlet-name>
    <servlet-class>es.unizar.sisinf.grpV2_B.servlet.Bizi.servletMenuBizi</servlet-class>
  </servlet>
  
  <servlet>
    <display-name>Estación Bizi</display-name>
    <servlet-name>estacionBizi</servlet-name>
    <servlet-class>es.unizar.sisinf.grpV2_B.servlet.Bizi.datosEstacion</servlet-class>
  </servlet>
  
  <!-- Servlets Tranvia -->
   <servlet>
    <display-name>Menú Tranvía</display-name>
    <servlet-name>menuTranvia</servlet-name>
    <servlet-class>es.unizar.sisinf.grpV2_B.servlet.Tranvia.servletMenuTranvia</servlet-class>
  </servlet>
  
  <servlet>
    <display-name>Parada Tranvía</display-name>
    <servlet-name>paradaTranvia</servlet-name>
    <servlet-class>es.unizar.sisinf.grpV2_B.servlet.Tranvia.servletParadaTranvia</servlet-class>
  </servlet>
  
  <!-- Servlets Bus -->
  <servlet>
    <display-name>Menú Bus</display-name>
    <servlet-name>menuBus</servlet-name>
    <servlet-class>es.unizar.sisinf.grpV2_B.servlet.Bus.servletMenuBus</servlet-class>
  </servlet>
  
  <servlet>
    <display-name>Listar Paradas</display-name>
    <servlet-name>listarParadasBus</servlet-name>
    <servlet-class>es.unizar.sisinf.grpV2_B.servlet.Bus.servletListaParadas</servlet-class>
  </servlet>
  
  <servlet>
    <display-name>Parada Autobús</display-name>
    <servlet-name>paradaAutobus</servlet-name>
    <servlet-class>es.unizar.sisinf.grpV2_B.servlet.Bus.servletParadaBus</servlet-class>
  </servlet>
  
  <servlet>
    <display-name>Parada Autobús</display-name>
    <servlet-name>validarPoste</servlet-name>
    <servlet-class>es.unizar.sisinf.grpV2_B.servlet.Bus.servletValidarPoste</servlet-class>
  </servlet> 
  
  <!-- Servlet Sesión -->
  <servlet>
    <display-name>Introducir Parada</display-name>
    <servlet-name>introducirParada</servlet-name>
    <servlet-class>es.unizar.sisinf.grpV2_B.servlet.Sesion.introducirParada</servlet-class>
  </servlet>
  <servlet>
    <display-name>Introducir Parada</display-name>
    <servlet-name>validarParada</servlet-name>
    <servlet-class>es.unizar.sisinf.grpV2_B.servlet.Sesion.validarParada</servlet-class>
  </servlet>
  
  <!-- Mapping Bizi -->
  <servlet-mapping>
    <servlet-name>menuBizi</servlet-name>
    <url-pattern>/menuBizi</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>estacionBizi</servlet-name>
    <url-pattern>/estacionBizi</url-pattern> 
  </servlet-mapping>
  
  <!-- Mapping Tranvía -->
  <servlet-mapping>
    <servlet-name>menuTranvia</servlet-name>
    <url-pattern>/menuTranvia</url-pattern> 
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>paradaTranvia</servlet-name>
    <url-pattern>/paradaTranvia</url-pattern> 
  </servlet-mapping>
  
  <!-- Mapping Bus -->
  <servlet-mapping>
    <servlet-name>menuBus</servlet-name>
    <url-pattern>/menuBus</url-pattern> 
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>listarParadasBus</servlet-name>
    <url-pattern>/linea</url-pattern> 
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>paradaAutobus</servlet-name>
    <url-pattern>/paradaBus</url-pattern> 
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>validarPoste</servlet-name>
    <url-pattern>/validarPoste</url-pattern> 
  </servlet-mapping>
  
  <!-- Mapping Sesión --> 
  <servlet-mapping>
    <servlet-name>introducirParada</servlet-name>
    <url-pattern>/introducirParada</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>validarParada</servlet-name>
    <url-pattern>/validarParada</url-pattern> 
  </servlet-mapping>
  
</web-app>